#!/usr/bin/make -f

# Uncomment to enable verbose mode
#DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --disable-opencl --enable-bitfury --without-curses


override_dh_auto_build:
	dh_auto_build -- CFLAGS="-g -O2"
